.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modalContent {
  height: 100%;
  overflow-y: auto;
}
.modalContent .modalHeader {
  position: absolute;
  top: 0;
  right: 0;
  left:0;
  background-color: rgba(70, 155, 146, 0.8);
}
.modalContent .modalHeader h2 {
  margin: 0;
  padding: 10px 10px 10px 30px;
  color: #ffffff;
}
.modalContent .modalClose {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: transparent;
  transition: 0.3s background-color;
}
.modalContent .modalClose:hover {
  cursor: pointer;
  background-color: rgba(70, 155, 146, 0.8);
  transition: 0.3s background-color;
}